$fa-font-path: "../../fonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@tailwind base;
@tailwind components;
@tailwind utilities;

#custom-app {
  @apply fixed left-0 top-0 w-screen h-screen;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
}

.model-title {
  @apply flex justify-between;
  @apply py-2 px-4;
  @apply border-solid border-t-0 border-x-0 border-b border-gray-200;
  .title-btn {
    @apply cursor-pointer;
  }

  .title-name {
    @apply text-center font-bold;
    @apply w-full;
  }

  .active {
    @apply border-green-600;
  }
}