$fa-font-path: "../../fonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@tailwind base;
@tailwind components;
@tailwind utilities;

#custom-app {
  @apply fixed;
  @apply top-0;
  @apply left-0;
  @apply w-screen;
  @apply h-screen;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
}